// color
$background: #25274d;
$dull: #aaabb8;
$text: rgb(241, 240, 240);
$title: #5ab9ea;
$important: #2e9cca;
$secondary: #464866;
$pop: rgb(247, 174, 18);
//padding
$normal: 3rem;
//photos
$phstandard: 6%;